@page "/"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<PageTitle>GS MAIL</PageTitle>

<div style="font-family:Verdana; font-size:10pt; background-color: #F0F4FF; margin: 0;">
    <table style="width: 100%; border-collapse: collapse;">
        <tr>
            <td valign="top" style="width: 80%;">
                <div style="border-style: none none solid none; border-width: 1px; border-color: #CCCCCC; background-color: #E3EEFB;">
                    <table cellpadding="5" cellspacing="0">
                        <tr>
                            <td style="padding-left:10px; padding-right:3px;">
                                <img src="immagini/titolo.png" />
                            </td>
                            <td style="font-weight:bold; color: #003482; width: 100%;">
                                GS - MAIL
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-left:10px; padding-right:3px; padding-bottom:10px;"></td>
                            <td style="padding-bottom:10px;">
                                <img src="immagini/mail.png" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="padding:10px; border-right: 1px solid #CCCCCC; height:100vh;">
                    <table style="width:100%; border: 2px ridge #166AEE; background-color: #ECE9D8;">
                        <tr>
                            <td style="height:300px;">
                                <!-- Contenuto -->
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="width:20%; height:100vh; background-color: #E3EEFB; vertical-align:top; text-align:right;">
                <div style="padding:10px; text-align:right">
                    <table style="text-align:right">
                        <tr style="text-align:right">
                            <td style="text-align:right"><button @onclick="ConfiguraClicked1">Configura Caselle EMail</button></td>
                        </tr>
                        <tr>
                            <td style="text-align:right"><button @onclick="ConfiguraClicked2">Abilitazioni Utenti</button></td>
                        </tr>
                        <tr>
                            <td style="text-align:right"><button @onclick="ConfiguraClicked3">Regole di Gestione</button></td>
                        </tr>
                    </table>                   
                </div>
            </td>
        </tr>
    </table>
</div>

@code {
    private void ConfiguraClicked1()
    {
        Navigation.NavigateTo("/configurazione");
    }

    private void ConfiguraClicked2()
    {
        Navigation.NavigateTo("/abilitazioni");
    }

    private void ConfiguraClicked3()
    {
        Navigation.NavigateTo("/regole");
    }
}

